<div class="row mx-3">
  <div class="col-12">
    <img [src]="recepe.imagepath" alt="">
  </div>
  <h3>{{recepe.name}}</h3>
  <div class="col-12 px-0">
  <button class="btn btn-primary  dropdown-toggle">Manage Recipe</button>
  <ul class="dropdown-menu">
    <li><a href="#">To Shopping List</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Rrecipe</a></li>
  </ul>
  </div>
  <div class="col-12 px-0">
    {{recepe.description}}
  </div>
  <div class="col-12 px-0">
    Ingredients
  </div>
</div>
