<app-shopping-edit (inggredietAdded)="oningredientAdded($event)"></app-shopping-edit>
<hr>
<div class="row justify-content-between">
  <div class="col-6">
    <ul class="list-group">
      <a class="list-group-item bg-light" *ngFor="let ingredient of ingredients;let i =index">
        {{ingredient.name}} ({{ingredient.amount}})
        <div class=" float-right">
          <button class="btn btn-danger mr-3" (click)="onDelete(i)">Delete</button>
          <button class="btn btn-primary" (click)="editIng(i)">Edit</button>
        </div>
      </a>
    </ul>
  </div>


  <div class="col-5" *ngIf="showEdit">
    <h4>Edit Ingredient</h4>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="ingInfo.name" placeholder="Name">
      </div>

      <div class="form-group">
        <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="ingInfo.amount" placeholder="Position">
      </div>
      <button type="submit" class="btn btn-dark" (click)="updateIng()">Update</button>
    </form>
  </div>
</div>
