<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipes</button>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <a href="#" class="list-group-item bg-light" *ngFor="let recipe of recipes">
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0">{{recipe.name}}</h5>
          <p>{{recipe.description}}</p>
        </div>
        <img class="ml-2" [src]="recipe.imagepath" alt="Generic placeholder image" class="w-25">
      </div>
    </a>
  </div>
</div>

<app-recipe-item></app-recipe-item>
