<div class="row justify-content-between">
  <div class="col-12">
    <form #formcontrol="ngForm">
      <div class="row">
        <div class="col-5">
          <label for="">Name</label>
          <input type="text" name="name" class="form-control" required [(ngModel)]="ingInfo.name">
        </div>
        <div class="col-2">
          <label for="amount">Amount</label>
          <input type="number" name="input" class="form-control" required [(ngModel)]="ingInfo.amount">
        </div>
      </div>
      <div class="col-12 py-3 pl-0">
        <button class="btn btn-success mr-2 px-3" type="submit" (click)="oningredientAdded()" [disabled]="!formcontrol.form.valid" *ngIf="onAdd">Add</button>
        <button class="btn btn-success mr-2 px-3" type="submit" (click)="updateIng()" *ngIf="onUpdate">Update</button>
      </div>
    </form>
  </div>
 <div class="col-7">
    <hr>
 </div>
  <div class="col-6 py-4">
    <ul class="list-group" *ngFor="let ingredient of ingredients;let i =index;">
      <li class="list-group-item bg-light">
        {{ingredient.name}}
        ({{ingredient.amount}})
        <div class="float-right">
          <button class="btn btn-primary mr-3" (click)="onEdit(i)">Edit</button>
          <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
