<div class="row">
  <div class="col-12">
    <form #formcontrol="ngForm">
      <div class="row">
        <div class="col-5">
          <label for="">Name</label>
          <input type="text" name="name" class="form-control" #nameInput required ngModel>
        </div>
        <div class="col-2">
          <label for="amount">Amount</label>
          <input type="number" name="input" class="form-control" #amountInut required ngModel>
        </div>
      </div>
      <div class="col-12 py-3">
        <button class="btn btn-success mr-2" type="submit" (click)="onaddItem()" [disabled]="!formcontrol.form.valid">Add</button>
        <button class="btn btn-danger mr-2" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
      </div>
    </form>
  </div>
</div>
